.loading-screen {
	height: 100vh;
	width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	color: white;
	text-align: center;
	h6 {
		font-size: rem(18px);
	}
}
