.passenger-card {
	border: 1px solid black;
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
	font-size: rem(14px);
	transition: 0.4s ease;
	cursor: pointer;

	&:hover {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
	}
	.person-details {
		h6 {
			font-size: rem(13px);
			font-family: Poppins;
			margin: 5px;
			span {
				color: black;
				font-size: rem(14px);
				padding: 5px 10px;
				border-radius: 5px;
				font-family: Poppins-Bold;
				background-color: $clr3;
				margin-right: 5px;
			}
		}
	}
	.person-image {
		height: 100px;
	}
	@include for-mobile-layout {
		flex-direction: column-reverse;
		.person-image {
			height: 150px;
			align-self: center;
			margin-bottom: 10px;
		}
	}
}
