.style-modal {
	height: 100vh;
	width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	.options-container {
		width: 50%;
		min-width: 250px;
		position: relative;
		z-index: 2;
	}
}
