.user-card {
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid lightgray;
	transition: all 0.4s ease;
	&:hover {
		cursor: pointer;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	}
	.left-side {
		width: 100%;
		.name {
			max-width: 70%;
			padding: 10px;
			background-color: $clr4;
			margin-bottom: 10px;
			border-radius: 5px;
		}
		.details {
			max-width: 80%;
			border-radius: 5px;
			height: 50px;
			background-color: $clr4;
		}
	}
	.right-side {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background-color: $clr4;
		align-self: flex-end;
		color: white;
	}
}
