.base-input {
	width: 80%;
	position: relative;
	label {
		font-size: rem(12px);
	}
	input {
		width: 100%;
		min-width: 200px;
		margin: 5px 0;
		padding: 10px;
		border-radius: 5px;
		outline: none;
		border: 1px solid black;
		font-family: Poppins;
		&:focus {
			border: 1px solid $clr1;
		}
	}
}
