// SETUP
@import 'setup/typography';
@import 'setup/variables';
@import 'setup/mixins';
@import 'setup/functions';

// BASICS
@import 'basics/helpers';
@import 'basics/base';
@import 'basics/layout';

// COMPONENTS

@import './components/Base/BaseButton.scss';
@import './components/Base/BaseInput.scss';
@import './components/Base/BaseSelect.scss';
@import './components/AppHeader.scss';
@import './components/AppFooter.scss';
@import './components/PassengersList.scss';
@import './components/PassengerCard.scss';
@import './components/Loading.scss';
@import './components/StyleOptions.scss';
@import './components/Pagination.scss';

//VIEWS

@import './views/Home.scss';
