//MAIN-LAYOUT-HELPERS

.site-main-layout {
	display: grid;
	grid-template-columns: 2rem 1fr 2rem;
	grid-template-rows: 10% 1fr 4%;
	height: 100%;
	width: 100%;
}

.pos-main-container {
	grid-column: 2/3;
	grid-row: 2/3;
}
.grid-container {
	display: grid;
	grid-template-columns: 2rem 1fr 2rem;
	grid-template-rows: 1fr;
}

.grid-pos-center {
	grid-column: 2/3;
}
