// COLOR PALETTE

$clr1: #ff5c5c;
$clr2: #e8e1e1;
$clr3: #e8e1e1;
$clr4: #b3d34c;
$clr5: #f7d20e;
$btn-primary-color: #27ae60;

// LAYOUT BREAKPOINTS

$break-extra-small: 380px;
$break-narrow: 500px;
$break-mobile-normal: 600px;
$break-normal: 700px;
$break-tablet: 800px;
$break-wide: 960px;
