// COLOR PALETTE

$clr1: #023e8a;
$clr2: #0077b6;
$clr3: #48cae4;
$clr4: #90e0ef;
$clr5: #03055e;
$btn-primary-color: #27ae60;

// LAYOUT BREAKPOINTS

$break-extra-small: 380px;
$break-narrow: 500px;
$break-mobile-normal: 600px;
$break-normal: 700px;
$break-tablet: 800px;
$break-wide: 960px;
